@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.bg-black {
    background-color: #2A4B6D !important;
}

.bd-white {
    border-bottom: 1px solid #fff !important;
}

.list-item {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.list-item:hover {
    background-color: #fff;
    cursor: pointer;
    color: black !important;
}

.admin-container {
    min-height: calc(100vh - 4rem);
    box-shadow: 6px 0px 18px -6px rgba(0,0,0,0.87);
}

.admin-container .bi {
    padding-right: 10px;
}

#nav-auth {
    z-index: 1000;
    position: relative;
}

.loading-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-screen .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-records {
    width: 100%;
    border-collapse: collapse;
}

.autocomplete {
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    padding: 0.2rem;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
}

.autocomplete-item {
    padding: 0.2rem;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.text-blue {
    color: #2563eb !important;
}

.font-xs {
    font-size: 0.3rem;
}

.welcome-img {
    width: 25vw;
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("../assets/generic.webp");
}


.welcome-img-2 {
    width: 25vw;
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-image: url("../assets/generic.jpeg");
}

@media screen and (max-width: 768px) {
    .welcome-img {
        width: 100%;
        height: 250px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image: url("../assets/generic.webp");
    }

    .welcome-img-2 {
        width: 100%;
        height: 250px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-image: url("../assets/generic.jpeg");
    }
}
